llama-hub==0.0.45
llama-index==0.11.1
llama-index-cli==0.3.0
llama-index-core==0.11.1
sentence-transformers==3.0.1
spacy==3.7.2
spacy-lefff==0.5.1
spacy-syllables==3.0.2
llama-index-embeddings-huggingface==0.3.0
llama-index-llms-ollama==0.3.0
llama-index-readers-file==0.2.0
llama-index-readers-llama-parse==0.2.0
fasttext==0.9.3
colorama==0.4.3
